<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions Légales - The District</title>
</head>
<body>
    <header>
        <h1>Mentions Légales</h1>
    </header>
    <section>
        <h2>Informations Générales</h2>
        <p>Raison sociale : Lucrative</p>
        <p>Numéro SIRET : 0635422152</p>
        <p>Adresse :71 rue de Poulianville Amiens</p>
        <p>Téléphone :03225588712 </p>
        <p>Email :District@District.fr </p>
    </section>
    <section>
        <h2>Directeur de la publication</h2>
        <p>Nom du directeur :Jordan</p>
        <p>Email du directeur : Directeur@Email.fr </p>
    </section>
    <section>
    </section>
    
    <footer>
        <p>&copy; {{ "now"|date("Y") }} The District. Tous droits réservés.</p>
    </footer>
</body>
</html>
