.imgcategories{

    object-fit: cover;
    height: 200px;
    width: 200px;
}

td{color: white;}

.transition{
    transition: all .2s ease-out;
}

.h-60{
  height: 14rem;
}

.w-128{
  width: 32rem;
}

.imgPlats{

  object-fit: cover;
  height: 200px;
  width: 200px;
}


.w-200 {
  width: 200px;
}

.h-150 {
  height: 150px;
}

.btn {
  cursor: pointer;
}


.bodysab{
  position: relative;
  top: 200px;
  left: 800px;
}

.couleur{
  background-color: #e0cda9;
}

.formscontact{
  background-color: #e0cda9;

}
.couleurtexte{
  color:#e0cda9 ;
}

.svgposition{
  position: relative;
  left: 10px;
  top: 8px;
}
.textposition{position: relative;
  bottom: 1px;
}