{% extends 'base.html.twig' %}

  





      {% block body  %}
        <div class="pb-[361px]">
          <div class="pl-10">
        <h1 class="text-5xl flex justify-center">Politique de Confidentialité de The District</h1><br><br>
        
      <p>Dernière mise à jour : 04/10/2023</p>
    
      <h2>1. Informations que nous collectons</h2>
      <p>Nous pouvons collecter les types d'informations personnelles suivants lorsque vous utilisez notre Site et nos services :</p>
      <ul>
        <li>Informations d'identification personnelles (par exemple, nom, adresse, adresse e-mail, numéro de téléphone).</li>
        <li>Informations de paiement (le cas échéant).</li>
        <li>Informations de compte (par exemple, nom d'utilisateur, mot de passe).</li>
        <li>Informations de localisation (si vous nous donnez la permission de le faire).</li>
        <li>Informations sur l'utilisation du Site (par exemple, pages visitées, temps passé sur le Site).</li>
      </ul>
    <br><br>
      <h2>2. Comment nous utilisons vos informations</h2>
      <p>Nous utilisons vos informations personnelles aux fins suivantes :</p>
      <ul>
        <li>Fournir et gérer nos services.</li>
        <li>Traiter vos paiements (le cas échéant).</li>
        <li>Personnaliser votre expérience sur le Site.</li>
        <li>Vous envoyer des informations, des notifications et des mises à jour sur nos services.</li>
        <li>Améliorer nos services et notre Site.</li>
        <li>Répondre à vos questions, commentaires ou demandes.</li>
        <li>Vous informer des modifications apportées à notre Politique de Confidentialité.</li>
      </ul>
    
<br><br>    
      <h2>3. Contactez-nous</h2>
      <p>Si vous avez des questions, des préoccupations ou des commentaires concernant notre Politique de Confidentialité, veuillez nous contacter à l'adresse suivante : TheDistrict@Mail.fr </p>
      </div>
      </div>
    
    </div>{% endblock %}
      